# Python caches
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
.venv/
venv/
ENV/

# Data (Keep structure, ignore files)
# data/raw/* <-- Commented out so files are allowed
# !data/raw/.gitkeep
# data/processed/* <-- Commented out so files are allowed
# !data/processed/.gitkeep
models/checkpoints/*

# Jupyter
.ipynb_checkpoints/

# IDE settings
.vscode/
